body {
    text-align: center;
    background-color: #fefffc;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 1.5;
}

a {
    color: #fc870a;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.silly-web-dev {
    line-height: 1;
}